h1,h2,p{

    text-align: center;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
    margin-top: 25px;
}

body{
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30pxp;
}

h1,h2{
    font-family: 'Times New Roman', Times, serif;
}

.menu{
    width: 80%;
    background-color: burlywood;
    margin: auto;
    padding: 20px 20px 20px 20px;/*top right bottom left*/
    max-width: 700px;
    }
    img{
        display: block;
        margin: auto;
    }
    .item p{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size:18px ;
    }
    .flavor,.desserts {
        text-align: left;
        width: 49%;
    }
    .price {
        text-align: right;
        width: 49%;
    }
    /* FOOTER */
    footer{
        font-size: 14px;
    }
    a{
        color: black;
    }

    a:visited{
        color: grey;
    }
    a:hover{
        color: brown;
    }
    a:active{
        color: white;
    }